.carousel-container {
  position: relative;
  margin: 15% 0;
}

.carousel-container img {
  max-width: 100%;
  height: auto;
}

.legend {
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 0 5%;
  }

  .legend {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    padding: 0 2%;
  }

  .legend {
    font-size: 0.8rem;
  }
}
