


@media only screen and (min-width: 600px) {
.hero-image {
    display: flex;
    position: relative;
    width: 125px;
    -webkit-filter: drop-shadow(7px 7px 15px #000000);
    filter: drop-shadow(7px 7px 15px #000000);
}
}

@media only screen and (max-width: 600px) {
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    -webkit-filter: drop-shadow(7px 7px 15px #000000);
    filter: drop-shadow(7px 7px 15px #000000);
}
}

.folio-hero {
    display: flex;
    position: relative;
    width: 100%;
}