@keyframes fadeIn {
  0% { opacity: 0; transform: translate(0, 10px);}
  100% { opacity: 1; transform: translate(0);}
}


@media only screen and (min-width: 600px) {
.hero-image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 15% 0;
    animation: fadeIn 2s ease-in-out;
}
}

@media only screen and (max-width: 600px) {
.hero-image {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15% 0;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
}
}

.folio-hero {
    position: relative;
    width: 100%;
}